    * {
        box-sizing: border-box;
    }

    :root {
        --main-color: #10cab7;
        --secondary-color: #2c4755;
        --section-padding: 60px;
        --section-background: #f6f6f6;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        font-family: "Work Sans", sans-serif;
    }


    .container {

        margin-left: auto;
        margin-right: auto;
        padding-left: 10px;
        padding-right: 10px;

    }

    @media (min-width: 768px) {
        .container {
            width: 750px;
        }
    }

    @media (min-width :992px) {
        .container {
            width: 970px;
        }
    }

    @media (min-width : 1200px) {
        .container {
            width: 1170px;
        }
    }


    .header {
        padding: 20px;
    }

    .header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header .logo {
        width: 60px;
        transition: .3s;
    }

    .header .logo:hover {
        transform: rotate(360deg);
    }

    .header .links {
        position: relative;
    }

    .header .links .icon {
        display: flex;
        flex-wrap: wrap;
        width: 30px;
        justify-content: flex-end;
        cursor: pointer;
    }

    .header .links:hover .icon span:nth-child(2) {
        width: 100%;
    }

    .header .links .icon span {
        height: 2px;
        background-color: #333;
        margin-bottom: 5px;
    }

    .header .links .icon span:first-child {
        width: 100%;
    }

    .header .links .icon span:nth-child(2) {
        width: 60%;
        transition: 0.3s;
    }

    .header .links .icon span:last-child {
        width: 100%;
    }

    .header .links ul {
        list-style: none;
        padding: 0px;
        margin: 0px;
        min-width: 200px;
        position: absolute;
        top: calc(100% + 15px);
        right: 0px;
        background-color: #f6f6f6;
        display: none;
        z-index: 1;
    }

    .header .links:hover ul {
        display: block;
    }

    .header .links ul::before {
        content: "";
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent #f6f6f6 transparent;
        position: absolute;
        right: 0px;
        top: -20px;
    }

    .header .links ul li a {
        display: block;
        text-decoration: none;
        padding: 15px;
        transform: .3s;

    }

    .header .links ul li:not(:last-child) a {
        border-bottom: 1px solid #ddd;

    }

    .header .links ul li a:hover {
        padding-left: 25px;
    }

    .landing {
        background-image: url(../img/landing.png);
        background-size: cover;
        position: relative;
        height: calc(100vh - 64px);

    }



    .landing .intro-text {
        position: absolute;
        top: 18%;
        left: 50%;
        transform: translate(-50%, 50%);
        text-align: center;
        width: 320px;
        max-width: 100%;
    }

    .landing .intro-text div {
        background-color: #333;
        padding: 20px;
        width: 150px;
        color: white;
        border-radius: 30px;
        position: absolute;
        top: 145px;
        left: 80px;
        transition: 0.3s;
        cursor: pointer;

    }

    .landing .intro-text h1 {
        margin: 0;
        font-size: 50px;
        font-weight: bold;
        color: var(--main-color);
    }

    .landing .intro-text p {
        font-size: 19px;
        line-height: 1.6;
    }

    .landing .intro-text div:hover {
        border: 1px solid #333;
        background-color: transparent;
        color: #10cab7;
        font-weight: bold;
    }

    .features {
        padding-top: var(--section-padding);
        padding-bottom: var(--section-padding);
        background-color: var(--section-background)
    }

    .features .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 10px;
    }

    .features .feat {
        padding: 20px;
        text-align: center;
    }

    .features .feat i {
        color: var(--main-color);
        transition: .3s;
    }

    .features .feat h1 {
        padding: 20px;
        font-weight: 800;

    }

    .features .feat p {
        line-height: 1.6;
        color: #777;
    }

    .features .feat:hover i {
        transform: translateY(-10px);
    }

    .special-heading {
        font-size: 100px;
        margin: 0px;
        text-align: center;
        letter-spacing: -3px;
        color: #ebeced;
        font-weight: 800;
    }

    .special-heading+p {
        font-size: 20px;
        text-align: center;
        margin-top: -30px;
        color: #797979;
    }

    @media (max-width:767px) {
        .special-heading {
            font-size: 60px;
        }

        .special-heading+p {
            margin-top: -20px;
        }
    }

    .services {
        padding-top: var(--section-padding);
        padding-bottom: var(--section-padding);
    }

    .services .services-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 30px;
        margin-top: 100px;
    }

    .services .services-content .srv {
        display: flex;
        margin-bottom: 40px;
    }

    @media (max-width:767) {
        .services .services-content .srv {
            flex-direction: column;
            text-align: center;
        }
    }

    .services .services-content .srv i {
        color: var(--main-color);
        flex-basis: 50px;
        transition: .3s;
    }

    .services .services-content .srv:hover i {
        transform: translateY(-10px);

    }

    .services .services-content .srv .text {
        flex: 1;
    }

    .services .services-content .srv .text h3 {
        margin: 0px 0px 20px;

    }

    .services .services-content .srv .text p {
        color: #777;
        font-weight: 300;
        line-height: 1.6;
    }

    .services .services-content .image {
        text-align: center;
        position: relative;
    }

    .services .services-content .image img {
        width: 260px;
        height: 400px;
        transition: .3s;
    }

    .services .services-content .image:hover img {
        transform: translateX(10px);
    }

    .services .services-content .image::before {
        content: "";
        background-color: var(--secondary-color);
        width: 100px;
        height: calc(100% + 40px);
        position: absolute;
        top: -20px;
        right: 0px;
        z-index: -1;
    }

    @media (max-width:1199px) {
        .image-column {
            display: none;
        }
    }

    .Portfolio {
        padding-top: var(--section-padding);
        padding-bottom: var(--section-padding);
        background-color: var(--section-background);


    }


    .Portfolio .Portfolio-content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 30px;
        margin-top: 100px;


    }

    .Portfolio .Portfolio-content .card {
        background-color: white;
        transition: 0.3s;
    }

    .Portfolio .Portfolio-content .card img {
        width: 100%;
    }

    .Portfolio .Portfolio-content .card .info {
        padding: 20px;
    }

    .Portfolio .Portfolio-content .card .info h3 {
        margin: 0;
    }

    .Portfolio .Portfolio-content .card .info p {
        margin-bottom: 0;
        line-height: 1.6;
        color: #777;
    }

    @media (max-width:767) {
        .Portfolio .Portfolio-content .card {
            text-align: center;
        }
    }

    .Portfolio .Portfolio-content .card:hover {
        box-shadow: 0px 0px 11px #333;
    }

    .About {
        padding-top: var(--section-padding);
        padding-bottom: var(--section-padding);

    }

    .About .About-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 100px;
    }

    @media (max-width: 991px) {
        .About .About-content {
            flex-direction: column;
            text-align: center;
        }
    }

    .About .About-content .image {
        position: relative;
        width: 250px;
        height: 375px;
    }

    @media (max-width: 991px) {
        .About .About-content .image {
            margin: 0 auto 60px;
        }

    }

    .About .About-content .image img {
        width: 100%;
    }

    .About .About-content .image::before {
        content: "";
        position: absolute;
        background-color: #ebeced;
        width: 100px;
        height: calc(100% + 80px);
        top: -40px;
        left: -20px;
        z-index: -1;

    }

    .About .About-content .image::after {
        content: "";
        position: absolute;
        border-bottom: 80px solid var(--main-color);
        border-left: 80px solid var(--main-color);
        top: -40px;
        left: 200px;
        width: 120px;
        height: 300px;
        z-index: -2;
    }

    @media (max-width: 991px) {

        .About .About-content .image::before,
        .About .About-content .image::after {
            display: none;
        }
    }


    .About .About-content .text {
        flex-basis: calc(100% - 500px);
        transition: .3s;
    }

    .About .About-content .text p:first-of-type {
        font-weight: bold;
        line-height: 2;
        margin-bottom: 30px;
    }

    .About .About-content .text hr {
        display: inline-block;
        border-color: var(--main-color);
        width: 50%;
    }

    .About .About-content .text p:last-of-type {
        line-height: 2;
        color: #777
    }

    .About .About-content .text:hover hr {
        width: 100%;
    }

    .contact {
        padding-top: var(--section-padding);
        padding-bottom: var(--section-padding);
        background-color: var(--section-background);
    }

    .contact .info {
        padding-top: var(--section-padding);
        padding-bottom: var(--section-padding);
        text-align: center;
    }

    .contact .info .label {
        font-size: 40px;
        font-weight: 800;
        color: var(--secondary-color);
        letter-spacing: -2px;
        margin: 10px;
    }



    .contact .info .social {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        font-size: 16px;

    }

    .contact .info .social i {
        margin-left: 15px;
        color: var(--secondary-color);
    }



    .contact .info .social i:hover:first-child {
        color: red;
        cursor: pointer;
    }

    .contact .info .social i:hover:nth-child(2) {
        color: #3b5998;
        cursor: pointer;
    }

    .contact .info .social i:hover:nth-child(3) {
        color: red;
        cursor: pointer;
    }

    .contact .info .social i:hover:last-of-type {
        color: #00acee;
        cursor: pointer;
    }

    @media (max-width: 767px) {

        .contact .info .label{
        
            font-size: 25px !important;
            width: 250px;
            margin: 0 auto;
        }
        .contact .info .social{
            flex-direction: column;
        }

        .contact .info .social .social-two{
            margin-top: 20px;
        }
        

    }

    .footer {
        background-color: var(--secondary-color);
        color: white;
        padding: 30px 10px;
        text-align: center;
        font-size: 18px;
    }

    .footer span {
        font-weight: bold;
        color: var(--main-color);
    }